page-password-details {

    .detail-password-page {
    ion-note {
        font-size: 16px;
        align-self: flex-start;
        margin-top: 14px;
    }
    .red {
        color: red;
    }
    .black {
        color: black;
    }
    .darkgrey {
        font-style: italic;
        color: darkgrey;
    }

  }

.spanLetter {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    align-content: left;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: red;
    color: white;
    text-align: center;
    font-size: 2em;
}

}
