page-password-details {

    .detail-password-page {
    ion-note {
        font-size: 16px;
        align-self: flex-start;
        margin-top: 14px;
    }
    .red {
        color: red;
    }
    .black {
        color: black;
    }
    .darkgrey {
        font-style: italic;
        color: darkgrey;
    }

  }

.spanLetter {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    align-content: left;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: steelblue;
    color: white;
    text-align: center;
    font-size: 2em;
}
.spanLetterTitle {
    display: block;
    height: 40px;
    width: 100%;
    line-height: 40px;
    align-content: left;

    -moz-border-radius: 30px;
    border-radius: 10px;

    text-indent: 20px;
    background-color: steelblue;
    color: white;
    text-align: left;
    font-size: 2em;
}
.titleContent {
    display: block;
    width: 100%;
    line-height: 40px;
    align-content: left;

    text-indent: 20px;
    background-color: darkslateblue;
    color: white;
    text-align: left;
    font-size: 2em;    
}
.titleContent ion-card-title{
    color: white;

}
.titleContent p{
    color : lightgray;

}
.font10 {
    font-size : 10px;

}

#wrapper{
    overflow:auto;
}


#c1{
   float:left;
}
#c2{
   text-align : right;
}

}
