<!--
  Generated template for the PasswordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header header>
  <ion-navbar tabsPlacement="bottom">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      passwords
    </ion-title>
    <ion-title>
      
    </ion-title>
    <ion-buttons end>
      {{ lastUpdateDate }}
    </ion-buttons>
  </ion-navbar>
  
  <!--  <ion-toolbar tabsPlacement="bottom">
    <ion-segment [(ngModel)]="topTab" color="secondary">
      <ion-segment-button value="camera">
        <ion-icon name="camera"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bookmark">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>-->
<ion-toolbar tabsPlacement="bottom">
    <ion-segment [(ngModel)]="pet" (ionChange)="onSegmentChanged($event)" >
      <ion-segment-button value="PasswordAlpha" tappable >
        <ion-icon name="list"> Abc</ion-icon>
      </ion-segment-button>
      <ion-segment-button value="PasswordGrouped" tappable>
        <ion-icon name="paper"> ABC</ion-icon>
      </ion-segment-button>
      <ion-segment-button value="PasswordUpdateDate" tappable>
        <ion-icon name="time"> Date</ion-icon>
      </ion-segment-button>
    </ion-segment>  
</ion-toolbar>

</ion-header>


<!--
  <ion-list>
    <button ion-item *ngFor="let password of passwords" (click)="goToDetails(password.name)"> 
      <ion-avatar item-start *ngIf="password?.image != null">
          <img src="{{password?.image}}">
        </ion-avatar>
      <div item-left class="spanLetter" *ngIf="password?.image == null">{{password.name.substr(0,1)}}</div>
      <h2 class="bold">{{ password.name }}</h2>
      <p>{{ password.login }}</p>
      <ion-note item-end >{{ password.updateDate }}</ion-note>

      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>-->

<ion-content padding class="list-password-page">
    <!-- removed search bar here -->

<!--
    <ion-item >
      <ion-label item-left> Dernière mise à jour {{ lastUpdateDate }}</ion-label>
      <ion-label item-right > tri</ion-label>
      
      <ion-toggle checked="true" (ionChange)="sortChanged($event)"></ion-toggle>
    </ion-item>
-->


    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'PasswordAlpha'">
        <!--<ion-searchbar (input)="search($event)" placeholder="rechercher ...">
        </ion-searchbar>-->
        <button ion-item *ngFor="let password of passwords" (click)="goToDetails(password.name)"> 
          <!--<ion-avatar item-start >
              <img src="assets/img/alphabet/{{password.name.substr(0,1)}}.png">
          </ion-avatar>-->
          <div item-left class="spanLetter" *ngIf="password?.image == null">{{password.name.substr(0,1)}}</div>

          <h2 class="bold">{{ password.name }}</h2>
          <p>{{ password.login }}</p>
          <ion-note item-end >{{ password.updateDate }}</ion-note>

          <ion-icon name="arrow-forward" item-right></ion-icon>
        </button>
      </ion-list>

      <ion-list *ngSwitchCase="'PasswordGrouped'">
        <ion-item-group *ngFor="let group of groupedPasswords">
    
          <ion-item-divider style="background-color: lightsteelblue; color: red;">
            <div item-left class="spanLetterGrouped"> {{group.letter}}</div>
          </ion-item-divider>
            <button ion-item *ngFor="let password of group.passwords" (click)="goToDetails(password.name)"> 
              <!--<ion-avatar item-start *ngIf="password?.image != null">
                  <img src="{{password?.image}}">
                </ion-avatar>
              <div item-left class="spanLetter" *ngIf="password?.image == null">{{password.name.substr(0,1)}}</div>
              <ion-avatar item-start *ngIf="password?.image == null">
                <img src="assets/img/alphabet/{{password.name.substr(0,1)}}.png">
              </ion-avatar>-->

              <h2 class="bold">{{ password.name }}</h2>
              <p>{{ password.login }}</p>
              <ion-note item-end >{{ password.updateDate }}</ion-note>

              <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>

    
        </ion-item-group>
      </ion-list>
      <ion-list *ngSwitchCase="'PasswordUpdateDate'">
        <!--<ion-searchbar (input)="search($event)" placeholder="rechercher ...">
        </ion-searchbar>-->

        <button ion-item *ngFor="let password of passwords" (click)="goToDetails(password.name)"> 
          <!--<ion-avatar item-start >
              <img src="assets/img/alphabet/{{password.name.substr(0,1)}}.png">
          </ion-avatar>-->
          <div item-left class="spanLetter" *ngIf="password?.image == null">{{password.name.substr(0,1)}}</div>

          <h2 class="bold">{{ password.name }}</h2>
          <p>{{ password.login }}</p>
          <ion-note item-end >{{ password.updateDate }}</ion-note>

          <ion-icon name="arrow-forward" item-right></ion-icon>
        </button>
      </ion-list>
    </div>


<!--
      <ion-list >
        <ion-item-group *ngFor="let group of groupedPasswords">
    
          <ion-item-divider light>{{group.letter}}</ion-item-divider>
            <button ion-item *ngFor="let password of group.passwords" (click)="goToDetails(password.name)"> 
              <ion-avatar item-start *ngIf="password?.image != null">
                  <img src="{{password?.image}}">
                </ion-avatar>
              <div item-left class="spanLetter" *ngIf="password?.image == null">{{password.name.substr(0,1)}}</div>
              <h2 class="bold">{{ password.name }}</h2>
              <p>{{ password.login }}</p>
              <ion-note item-end >{{ password.updateDate }}</ion-note>

              <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>    
        </ion-item-group> 
      </ion-list>
-->



</ion-content>
<ion-footer *ngIf="pet !== 'PasswordGrouped'">
  <ion-toolbar>
      <ion-searchbar (input)="search($event)" placeholder="rechercher ...{{pet}}">
      </ion-searchbar>
  </ion-toolbar>
</ion-footer>
