page-passwords {
.spanLetter {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    align-content: left;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: steelblue;
    color: white;
    text-align: center;
    font-size: 2em;
}
.spanLetterGrouped {
    display: block;
    height: 40px;
    width: 100%;
    line-height: 40px;
    align-content: left;

    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: lightsteelblue;
    color: white;
    text-align: center;
    font-size: 2em;
}

.div100 {
    //width: 10px;
  margin: auto;
  position: absolute;
    top: 10; left: 110; bottom: 0; right: 10;

}
.numberCircle {
    border-radius: 50%;

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.bold {
    font-weight: bold;
}

.right {
    align-content: right;
}
.list-password-page {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
        font-style: italic;
    }
  }

  

SCROLL-CONTENT {
	overflow-y: auto !important;
}

CODE {
  background: #EFEFEF;
}

ion-header{
//background-color: red;
//border-style: solid;
color: salmon;

}

.header {
    background-color: green;
}

ion-navbar{
background-color: lightgreen;
}

ion-segment-button{
  //max-width: 300px;
  border-style: double;
  padding: 0px;
  background-color: magenta;
}

.segment-button {
  border-style: solid;
  border-color: black;
  color: #e62100;
  border-width: thin;
  background-color: green;
}

.segment-button:first-of-type {
  border-radius: 200px 20px 20px 20px;
  // margin-right: 0px;
  margin-left: 0px;
  line-height: 3.4rem;
  
  height: 100%;
  width: 100%}
.segment-button:not(:first-of-type) {
  border-radius: 5px 5px 20px 20px;
  margin-right: 0px;
  margin-left: 20px;
  line-height: 3.4rem;
  height: 100%;

  width: 100%;}

  .segment-button:not(:active) {
  border-radius: 5px 5px 5px 5px;

  border-color: white;
  background-color: blue;
  color: white;

 }

.segment-button:last-of-type {
  border-radius: 5px 5px 5px 5px;
  margin-right: 0px;
  margin-left: 20px;
  line-height: 3.4rem;
  height: 100%;
  width: 100%;
}
.segment-button:selected {
  background-color: black;

  border-color: black;
}


.segment-button:active {
  border-radius: 10px 200px 20px 10px;
  margin-right: 0px;
  margin-left: 20px;
  line-height: 3.4rem;
  height: 100%;
  width: 100%;
  border-style: double;
  background-color: black;
}

 .segment-activated{
  border-radius: 0px 0px 10px 10px;
  border-style: double;

  background-color: #e62100;
  color: red;

}
/*
*/
}


